/*@import "https://fonts.googleapis.com/css?family=Press%20Start%202P";*/

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html, body {
    height: 100%;
    font-family: 'monospace';
    font-size: 1rem;
    line-height: 2;
    text-transform: uppercase;
}

.wrapper {
    position: relative;
    min-height: 100%;
}

.header {
    text-align: center;
    padding: 10px;
    background-color: cadetblue;
}

.content {
    padding-bottom: 90px;
}

.footer {
    text-align: center;
    color: azure;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: black;
}

.img-block {
    width: fit-content;
    margin: 5% auto;
}

.img-block img {
    height: 200px;
    width: 200px;
}

.form-block {
    margin: 5% auto;
    width: fit-content;
}

form div {
    display: flex;
}


/*guest*/
.guest-content {
    display: flex;
    justify-content: space-between;
}

.guest-content .gifs {
    display: grid;
}

.gifs img {
    width: 220px;
}


a {
    text-decoration: none;
    color: #fff090;
}

li {
    color: #4FAF44;
}

.arrow i {
    display: none;
}

.arrow {
    position: relative;
    display: block;
    color: #F6EB14;
}

.arrow:hover {
    cursor: pointer;
    background-color: rgba(66, 72, 58, 0.91);
}

.arrow:hover i {
    display: block;
    position: absolute;
    top: 0.50em;
    left: -6em;
}

#clock {
    color: #000;
    font-weight: bold;
    font-size: 30px;
}

label.error {
    color: red;
    font-size: 1rem;
    display: block;
    margin-top: 5px;
}

input.error, textarea.error {
    border: 1px dashed red;
    font-weight: 300;
    color: red;
}

p.note {
    font-size: 1rem;
    color: red;
}

.btn {
    padding: 5px;
    margin: 10px auto;
}

.btn {
    display: inline-block;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
    text-shadow: 0 -1px rgba(0, 0, 0, .5);
    user-select: none;
    padding: .7em 1.5em;
    border: 1px solid rgb(80, 32, 0);
    border-radius: 5px;
    outline: none;
    background: rgb(147, 80, 36) linear-gradient(rgb(106, 58, 26), rgb(147, 80, 36) 80%);
    box-shadow: 0 6px rgb(86, 38, 6),
    0 3px 15px rgba(0, 0, 0, .4),
    inset 0 1px rgba(255, 255, 255, .3),
    inset 0 0 3px rgba(255, 255, 255, .5);
    transition: .2s;
}

.btn:hover {
    background: rgb(167, 91, 41) linear-gradient(rgb(126, 69, 31), rgb(167, 91, 41) 80%);
}

.btn:active {
    background: rgb(120, 63, 25) linear-gradient(rgb(120, 63, 25) 20%, rgb(167, 91, 41));
    box-shadow: 0 2px rgb(86, 38, 6),
    0 1px 6px rgba(0, 0, 0, .4),
    inset 0 1px rgba(255, 255, 255, .3),
    inset 0 0 3px rgba(255, 255, 255, .5);
    -webkit-transform: translate(0, 4px);
    transform: translate(0, 4px);
}

.table {
    text-align: center;
    margin: 0 auto;
    width: 50%;
    border: 1px solid #dddddd;
    border-collapse: collapse;
}

.table th {
    font-weight: bold;
    padding: 5px;
    background: #efefef;
    border: 1px solid #dddddd;
}

.table td {
    border: 1px solid #dddddd;
    padding: 5px;
}

.links {
    background-color: #efefef;
    height: fit-content;
}

.links li  a {
    color: black;
}


